@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
}
.email {
  height: 70px;
}
.email-span {
  margin-left: 43px;
}

h2 {
  text-align: center;
}