/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
//@import "~font-awesome/css/font-awesome.css";
app-root {
    height: 100vh;
}
body {
    padding-top: 7.2em;
}